body { background: #228e71; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 36px; display: flex; }
.block-config-0 { color: #658100; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #674c98; font-size: 12px; margin-bottom: 5px; }
.block-metrics-2 { color: #6d6ac1; font-size: 18px; margin-bottom: 5px; }
.block-cache-3 { color: #bce4ac; font-size: 13px; margin-bottom: 5px; }
.block-config-4 { color: #4ab58b; font-size: 20px; margin-bottom: 5px; }